<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Forum</display-name>
  <welcome-file-list>
    <welcome-file>Index</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>servleti.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Members</display-name>
    <servlet-name>Members</servlet-name>
    <servlet-class>servleti.Members</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Members</servlet-name>
    <url-pattern>/Members</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>servleti.InitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servleti.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servleti.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Panel</display-name>
    <servlet-name>Panel</servlet-name>
    <servlet-class>servleti.Panel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panel</servlet-name>
    <url-pattern>/Panel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forum</display-name>
    <servlet-name>Forum</servlet-name>
    <servlet-class>servleti.Forum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forum</servlet-name>
    <url-pattern>/Forum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Topic</display-name>
    <servlet-name>Topic</servlet-name>
    <servlet-class>servleti.Topic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Topic</servlet-name>
    <url-pattern>/Topic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servleti.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Post</display-name>
    <servlet-name>Post</servlet-name>
    <servlet-class>servleti.Post</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Post</servlet-name>
    <url-pattern>/Post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetJson</display-name>
    <servlet-name>GetJson</servlet-name>
    <servlet-class>servleti.GetJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetJson</servlet-name>
    <url-pattern>/GetJson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>servleti.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>servleti.SessionListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SendMail</display-name>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>servleti.SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Activate</display-name>
    <servlet-name>Activate</servlet-name>
    <servlet-class>servleti.Activate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Activate</servlet-name>
    <url-pattern>/Activate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordReset</display-name>
    <servlet-name>PasswordReset</servlet-name>
    <servlet-class>servleti.PasswordReset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordReset</servlet-name>
    <url-pattern>/PasswordReset</url-pattern>
  </servlet-mapping>
</web-app>